/target
/mcus-simulation/esp32-mini-1/bootloader
/mcus-simulation/esp32-mini-1/customized_partitions
/mcus-simulation/esp32-mini-1/partition_table
mcus-simulation/esp32-mini-1/at_customize.bin
mcus-simulation/esp32-mini-1/esp-at.bin
mcus-simulation/esp32-mini-1/esp-at.elf
mcus-simulation/esp32-mini-1/ota_data_initial.bin
/.embuild